.left-panel {

    position: fixed;
    
    left: 00px;
    top: 0px;

    width: 15vw;
    height: 100vh;

    border-right: 1px solid #ccc;
    background-color: white;

    padding: 20px;

}

.left-panel .logo {

    margin-bottom: 24px;

}

.left-panel .buttons-container {

    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.left-panel .buttons-container button,
.left-panel .tags-container button {

    display: flex;
    align-items: center;
    padding: 6px 5px;
    background-color: transparent;
    border: none;
    color: #0E121B;
    margin-bottom: 5px;

    width: 100%;

}

.left-panel .buttons-container button:hover,
.left-panel .tags-container button:hover {

    background-color: #e4e4e4;
    border-radius: 5px;

}

.left-panel .buttons-container button img,
.left-panel .buttons-container button .icon,
.left-panel .tags-container button img,
.left-panel .tags-container button .icon
 {

    margin-right: 10px;
    color: #486cff;
    font-size: 15px;

}

.left-panel .tags-container {

    padding-top: 20px;

}

.left-panel .tags-container .tag {

    margin-bottom: 10px;
    display: block;
    font-weight: bold;

}